#images .image-container {
  width: 125px;
  height: 125px;
  background-size: cover;
  margin: 5px;
  float: left;
  cursor: pointer;
  opacity: 0.8;
}

#images .image-container:hover {
  opacity: 1.0;
}

.lightbox-background {
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9;
}

.lightbox {
  background: yellow;
  position: absolute;
  height: 80%;
  width: auto;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 10;
}

.lightbox-image {
  height: 100%;
  width: auto;
}

.lightbox-header {
  height: 30px;
  background-color: white;
  top: 0px;
  position: relative;
}

.lightbox-title {
  font-family: sans-serif;
  position: absolute;
  top: 5px;
  left: 10px;
  right: 35px;
}

.lightbox-exit {
  font-family: sans-serif;
  font-size: x-large;
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
}

.lightbox .prev-arrow, .next-arrow {
  position: absolute;
  cursor: pointer;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: larger;
  padding: 5px 10px;
  border-radius: 6px;
  opacity: 0.6;
}

.lightbox .prev-arrow {
  left: 10px;
}

.lightbox .next-arrow {
  right: 10px;
}

.lightbox .prev-arrow:hover, .next-arrow:hover {
  opacity: 1;
}

.lightbox .prev-arrow:before {
  content: "<";
}

.lightbox .next-arrow:after {
  content: ">";
}

