#images .image-container {
  width: 125px;
  height: 125px;
  background-size: cover;
  margin: 5px;
  float: left;
  cursor: pointer;
  opacity: 0.8;
}

#images .image-container:hover {
  opacity: 1.0;
}

.lightbox-background {
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9;
}

.lightbox {
  background: yellow;
  position: absolute;
  height: 80%;
  width: auto;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 10;
}

.lightbox-image {
  height: 100%;
}
